body{
    background-image: url('images/header-background-mobile.png');

    position: relative;
    height: 718px;
    width: 375px;

    left: 0px;
    top: 0px; 


    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  
}

.container{
    width: 80%;
    margin: auto;
}


.ellipse-11{
    position: absolute;
    height: 19.251697171061814px;
    width: 38.50339434212363px;
    left: 16.0419921875px;
    top: 161.4661865234375px;
    border-radius: 0px;
    background: #6070FF;
    transform: rotate(-156.88deg);

}
.ellipse-5{
    position: absolute;
    height: 10.000000278457804px;
    width: 11.000000306303583px;
    left: 132.9833984375px;
    top: 155.8089599609375px;
    border-radius: 0px;

}
.rectangle-7{
    position: absolute;
    height: 4.733895548670282px;
    width: 26.461844112359724px;
    left: 127.1845703125px;
    top: 151.5853271484375px;
    border-radius: 0px;
    background: #6070FF;
    transform: matrix(0.76, 0.65, 0.65, -0.76, -0.76, 0, 0);
}

.ellipse-3{
    position: absolute;
    height: 105px;
    width: 105px;
    left: 323px;
    top: 152.23828125px;
    border-radius: 0px;
    background: #6070FF;

}
.ellipse-12{
    position: absolute;
    height: 12.071130642161918px;
    width: 24.142261284323837px;
    left: 341.7578125px;
    top: 546.6923828125px;
    border-radius: 0px;
    background: #6070FF;
    transform: rotate(-176.08deg);

}
.ellipse-13{
    position: absolute;
    height: 30.099411304895504px;
    width: 30.099411304895504px;
    left: 332.1767578125px;
    top: 540.44140625px;
    border-radius: 0px;

    background: #EBEBFF;
    transform: rotate(69.41deg);

}

.ellipse-4{
    position: absolute;
    height: 20px;
    width: 20px;
    left: 237px;
    top: 657.0955810546875px;
    border-radius: 0px;

    background: #6070FF;

}
.rectangle-5{
    position: absolute;
    height: 12.17616080909308px;
    width: 68.06312559198969px;
    left: 191.82421875px;
    top: 652.9998779296875px;
    border-radius: 0px;
    background: #EBEBFF;
    transform: rotate(23.34deg);

}





.my-logo{
    width: 76px;
    height: 20px;
    color: #6070FF;

    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
}
li{
    list-style: none;
}

li a{
    text-decoration-style: none;
}

li a i{
    width: 375px;
    height: 48px;
    
}

.header{
    width:100% ;
    display: flex;
    justify-content: space-between;
}

.name-welcome{
    color: #17284D;
    font-size: 40px;
    font-weight: 700px;
    line-height: 52px;
}

.description-of-me{
    color: #344563;
}

.contact-with-social{
    color: #7F8CFF;
}

.social-networks .social-network i{
    color: grey;
    padding-right: 5px;
    font-size: 20px;
}