body{
    background-image: url('images/header-background-mobile.png');
    height: 718px;
    width: 375px;

    left: 0px;
    top: 0px; 


    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  
}

.container{
    width: 80%;
    margin: auto;
}

.my-logo{
    width: 76px;
    height: 20px;
}

li a i{
    width: 375px;
    height: 48px;
    
}

.header{
    width: ;
    display: flex;
    justify-content: space-between;
}